<?php

/* 
* To change this license header, choose License Headers in Project Properties.
* To change this template file, choose Tools | Templates
* and open the template in the editor.
*/
{% extends 'base.html.twig' %}

{% block title %}Type of fields{% endblock %}

{% block body %}
    <h1> The consultancy is begining</h1>
    <h1>Your desired search is {{ number }}</h1>
    {% endfor %}
{% endblock %}

